#particles-js {
	z-index: 1;
}
h1 {
	color: white;
}
section {
	background-color: none;
}
canvas {
	position: absolute;
	left: 2%;
	top: 6px;
	max-width: 97%;
	max-height: 19%;
	z-index: -9;
	padding-left: 260px;
}

p {
	color: white;
}

div.subheading {
	color: orange;
}

span.text-primary {
	color: orange;
}
i {
	color: white;
}

h2 {
	color: orange;
}
